/*
Color
*/

// PRIMARY COLORS
$primary: #000000;
$white: #ffffff;

$gray10: #f9fafb;
$gray20: #f2f4f7;
$gray30: #667085;
$gray40: #101828;
$gray50: #f9fafb;

//Figma-colors
$primary50: #f9f5ff;
$primary100: #f4ebff;
$gray200: #eaecf0;
$primary500: #9e77ed;
$primary600: #7f56d9;
$primary700: #6941c6;
$gray50: #f9fafb;
$gray100: #f2f4f7;
$gray300: #d0d5dd;
$gray400: #98a2b3;
$gray500: #667085;
$gray800: #1d2939;
$gray900: #101828;
