/*
Color
*/

// PRIMARY COLORS
$primary: #ffe8eb;
$secondary: #322b2b;

$dark: #000000;
$white: #ffffff;

$dark10: #262233;

$gray10: #f9f9f9;
$gray20: #ededed;
$gray30: #d3d4d3;
$gray40: #b6b7b7;
$gray50: #898989;
$gray60: #6b6b6b;
$gray70: #545454;
$gray80: #3b3b3b;
$gray90: #222222;
$gray100: #111111;
$gray110: #9a9ea5;
$gray120: #dadada;
$gray130: #333333;
$gray140: #7c7b7b;
$gray150: #d4d4d4;
$gray160: #030229;
$blue: #160fe7;
