<main class="home">
  <section class="main">
    <div class="main__first-column">
      <div class="main__first-column--content">
        <!-- <div class="main__first-column--head">
          <div>
            <small>We're hiring!</small>
          </div>
          <small>Join our remote team</small>
        </div> -->

        <div class="main__first-column--text">
          <h1>Compra desde cualquier parte del Perú.</h1>
          <p>
            Nosotros compramos el producto por ti y lo enviamos a donde te
            encuentres.
          </p>
        </div>

        <div class="main__first-column--link-form">
          <input type="text" placeholder="Link del producto" />
          <button>Cotizar</button>
        </div>
        <div class="main__first-column--policy">
          <small
            >En caso de no tener link del producto
            <span>haga click aqui.</span></small
          >
        </div>
      </div>
    </div>

    <div class="main__second-column">
      <div class="main__second-column--content">
        <img
          src="./assets/svg/home-content/cards-section.svg"
          alt="cards-section"
        />
      </div>
    </div>
  </section>

  <section class="partners">
    <div class="partners__content">
      <p>Compra en las tiendas más reconocidas del país</p>
      <div class="partners__content--images">
        <div>
          <img
            src="./assets/svg/home-content/partners/ripley-icon.svg"
            alt="partner-icon"
          />
        </div>
        <div>
          <img
            src="./assets/svg/home-content/partners/tottus-icon.svg"
            alt="partner-icon"
          />
        </div>
        <div>
          <img
            src="./assets/svg/home-content/partners/h&m-icon.svg"
            alt="partner-icon"
          />
        </div>
        <div>
          <img
            src="./assets/svg/home-content/partners/coolbox-icon.svg"
            alt="partner-icon"
          />
        </div>
        <div>
          <img
            src="./assets/svg/home-content/partners/adidas-icon.svg"
            alt="partner-icon"
          />
        </div>
        <div>
          <img
            src="./assets/svg/home-content/partners/farabella-icon.svg"
            alt="partner-icon"
          />
        </div>
      </div>
    </div>
  </section>

  <section class="features">
    <div class="features__head">
      <h6>Características</h6>
      <h2>¿Cómo funciona Bakanazo?</h2>
      <p>
        Con nosotros puedes comprar de manera facil, rapida y segura, sin
        necesidad de tener que viajar para comprarlo.
      </p>
    </div>

    <div class="features__content">
      <div class="features__content--description">
        <div class="features__content--card">
          <span>
            <img
              src="./assets/svg/home-content/features/one.svg"
              alt="one-icon"
            />
          </span>
          <div>
            <h4>¿Qué producto quieres?</h4>
            <p>
              Busca el producto que quieres en la tienda donde deseas que se
              realice la compra.
            </p>
            <div>
              <h6>Mayor Información</h6>
              <img
                src="./assets/svg/home-content/features/arrow-right.svg"
                alt="arrow-right-icon"
              />
            </div>
          </div>
        </div>

        <div class="features__content--card">
          <span
            ><img
              src="./assets/svg/home-content/features/two.svg"
              alt="two-icon"
          /></span>
          <div>
            <h4>Estamós listos para tu solicitud</h4>
            <p>
              Copia el link del producto y pégalo en Bakanazo para recibir la
              cotización total
            </p>
            <div>
              <h6>Mayor Información</h6>
              <img
                src="./assets/svg/home-content/features/arrow-right.svg"
                alt="arrow-right-icon"
              />
            </div>
          </div>
        </div>

        <div class="features__content--card">
          <span
            ><img
              src="./assets/svg/home-content/features/three.svg"
              alt="three-icon"
          /></span>
          <div>
            <h4>Realiza el pago</h4>
            <p>
              Aceptamos pagos con tarjeta de créditos (hasta 36 cuotas), débito
              y depósito o transferencia bancaría.
            </p>
            <div>
              <h6>Mayor Información</h6>
              <img
                src="./assets/svg/home-content/features/arrow-right.svg"
                alt="arrow-right-icon"
              />
            </div>
          </div>
        </div>
        <div class="features__content--card">
          <span
            ><img
              src="./assets/svg/home-content/features/three.svg"
              alt="three-icon"
          /></span>
          <div>
            <h4>Espera Tranquilo</h4>
            <p>
              Bakanazo se encargará de todo. No tendrás que hacer ningún trámite
              ni papeleo, solo esperar en la comodidad de tu casa.
            </p>
            <div>
              <h6>Mayor Información</h6>
              <img
                src="./assets/svg/home-content/features/arrow-right.svg"
                alt="arrow-right-icon"
              />
            </div>
          </div>
        </div>
      </div>

      <div>
        <div class="features__content--image">
          <img
            src="./assets/svg/home-content/features/cards-img.svg"
            alt="cards-img"
          />
        </div>
      </div>
    </div>
  </section>

  <section class="switch">
    <div class="switch__head">
      <h6>¿Por qué usar Bakanazo?</h6>
      <h2>Clientes felices</h2>
      <p>
        Ofrecemos la mejor opción para tus compras desde provincia, con envios
        rapidos y seguridad en las entregas.
      </p>
    </div>

    <div class="switch__content">
      <div class="switch__content--card">
        <div>
          <img src="./assets/svg/home-content/switch/one.svg" alt="one-icon" />
        </div>
        <h5>Anghelo Neira</h5>
        <p>
          Bakanazo me ayudo con un cambio gratis de las zapatillas que pedí de
          Tottus y no me quedaron. Gracias Bakanazo!
        </p>
      </div>

      <div class="switch__content--card">
        <div>
          <img src="./assets/svg/home-content/switch/two.svg" alt="two-icon" />
        </div>
        <h5>Yeremy Seminario</h5>
        <p>
          Estuve buscando la mejor opción para comprar mis especias de Lima y
          encontré Bakanazo, tomé la mejor decisión”
        </p>
      </div>

      <div class="switch__content--card">
        <div>
          <img
            src="./assets/svg/home-content/switch/three.svg"
            alt="three-icon"
          />
        </div>
        <h5>Giancarlo Castillo</h5>
        <p>
          Quise comprar productos de Australia pero me encuentro en Perú, tuve
          optar por comprar de aqui y Bakanazo fue la mejor opción
        </p>
      </div>

      <div class="switch__content--card">
        <div>
          <img
            src="./assets/svg/home-content/switch/four.svg"
            alt="four-icon"
          />
        </div>
        <h5>Lis Zapata</h5>
        <p>
          Me encuentro en Puno y no existe un centro comercial cercano, compre
          por Bakanazo y me llegó en 3 dias, estoy super feliz con su servicio!
        </p>
      </div>
    </div>
  </section>

  <section class="pricing">
    <div class="pricing__head">
      <h6>Precios</h6>
      <h2>Planes de precios para nuestros envios</h2>
      <p>
        Precios simples y transparentes que van contigo. Elige entre envió
        normal o rápido.
      </p>
    </div>

    <div class="pricing__content">
      <div class="pricing__content--card">
        <span
          ><img src="./assets/svg/home-content/pricing/one.svg" alt="one-icon"
        /></span>
        <h6>Envio Normal</h6>
        <h2>S/20.00</h2>
        <p>Precio Variable</p>

        <main>
          <div>
            <span
              ><img
                src="./assets/svg/home-content/pricing/three.svg"
                alt="three-icon"
            /></span>
            <p>Envíos de 5 a 15 días</p>
          </div>
          <div>
            <span
              ><img
                src="./assets/svg/home-content/pricing/three.svg"
                alt="three-icon"
            /></span>
            <p>Envíos mediante agencias locales</p>
          </div>
          <div>
            <span
              ><img
                src="./assets/svg/home-content/pricing/three.svg"
                alt="three-icon"
            /></span>
            <p>Chat básico y soporte por correo electrónico</p>
          </div>
        </main>

        <div>
          <button>Elegir</button>
        </div>
      </div>

      <div class="pricing__content--card">
        <span
          ><img src="./assets/svg/home-content/pricing/two.svg" alt="two-icon"
        /></span>
        <h6>Envió rápido</h6>
        <h2>S/ 35.00</h2>
        <p>Precio variable</p>

        <main>
          <div>
            <span
              ><img
                src="./assets/svg/home-content/pricing/three.svg"
                alt="three-icon"
            /></span>
            <p>Envíos en máximo 5 días</p>
          </div>
          <div>
            <span
              ><img
                src="./assets/svg/home-content/pricing/three.svg"
                alt="three-icon"
            /></span>
            <p>Envíos mediante olva courier prioritario</p>
          </div>
          <div>
            <span
              ><img
                src="./assets/svg/home-content/pricing/three.svg"
                alt="three-icon"
            /></span>
            <p>Soporte prioritario por chat y correo electrónico</p>
          </div>
        </main>

        <div>
          <button>Elegir</button>
        </div>
      </div>
    </div>
  </section>
</main>
