<footer class="footer">
  <div class="footer__top">
    <div class="footer__container-top">
      <div class="footer__content">
        <div class="footer__logo">
          <img src="./assets/svg/bakanazo-white.svg" />
          <p class="footer__logo-text">
            “Construimos un pais sin fronteras, donde nos enfocamos en
            facilitarte el producto que tanto deseas, sin problemas ni
            restricciones”
          </p>
        </div>
        <div class="footer__links">
          <div class="footer__links-one">
            <h4>Bakanazo</h4>
            <div class="footer__badge" *ngIf="false">
              <div class="footer__complement">
                <p>Solutions</p>
              </div>
              <div class="footer__only-bagde">New</div>
            </div>
            <p>Precios</p>
            <p>Courriers y Cargas</p>
          </div>
          <div class="footer__links-two">
            <h4>Empresa</h4>
            <p>Acerca de</p>
            <p>Carreras</p>
            <p>Prensa</p>
            <p>Contactanos</p>
          </div>
          <div class="footer__links-three">
            <h4>Recursos</h4>
            <p>Soporte en Linea</p>
          </div>
          <div class="footer__links-four">
            <h4>Social</h4>
            <p>Twitter</p>
            <p>Instagram</p>
            <p>Facebook</p>
          </div>
          <div class="footer__links-five">
            <h4>Legal</h4>
            <p>Terminos</p>
            <p>Privacidad</p>
            <p>Licencias</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer__bottom">
    <div class="footer__text">
      <p>© 2022 Bakanazo. Todos los derechos reservados.</p>
    </div>
    <div class="footer__social">
      <img src="./assets/svg/footer/twitter-icon.svg" />
      <img src="./assets/svg/footer/facebook-icon.svg" />
    </div>
  </div>
</footer>
