<footer class="footer">
  <div class="footer__container">
    <div class="footer__information">
      <p>
        <lord-icon src="https://cdn.lordicon.com/iicmtpsq.json" trigger="hover"></lord-icon>
        bakanazo@bakanazo.com
      </p>
      <p>
        <lord-icon src="https://cdn.lordicon.com/cnyeuzxc.json" trigger="hover"></lord-icon>
        +51 935 349 924
      </p>
      <p>
        <lord-icon src="https://cdn.lordicon.com/fihkmkwt.json" trigger="hover"
          colors="outline:#e4e4e4,primary:#545454">
        </lord-icon>
        Andahuaylas-Peru
      </p>
    </div>
    <div class="footer__image">
      <div>
        <img src="./assets/NAZO.svg" width="80px" />
      </div>
    </div>
  </div>
</footer>
