<footer class="footer">
  <div class="footer__top">
    <div class="footer__container-top">
      <div class="footer__content">
        <div class="footer__logo">
          <img src="./assets/svg/logos/bakanazo-02.svg" />
          <p class="footer__logo-text">
            Design amazing digital experiences that create more happy in the
            world.
          </p>
        </div>
        <div class="footer__links">
          <div class="footer__links-one">
            <h4>Product</h4>
            <p>Overview</p>
            <p>Features</p>
            <div class="footer__badge">
              <div class="footer__complement">
                <p>Solutions</p>
              </div>
              <div class="footer__only-bagde">New</div>
            </div>
            <p>Tutorials</p>
            <p>Pricing</p>
            <p>Releases</p>
          </div>
          <div class="footer__links-two">
            <h4>Company</h4>
            <p>About us</p>
            <p>Careers</p>
            <p>Press</p>
            <p>News</p>
            <p>Media kit</p>
            <p>Contact</p>
          </div>
          <div class="footer__links-three">
            <h4>Resources</h4>
            <p>Blog</p>
            <p>Newsletter</p>
            <p>Events</p>
            <p>Help centre</p>
            <p>Tutorials</p>
            <p>Support</p>
          </div>
          <div class="footer__links-four">
            <h4>Social</h4>
            <p>Twitter</p>
            <p>LinkedIn</p>
            <p>Facebook</p>
            <p>GitHub</p>
            <p>AngelList</p>
            <p>Dribbble</p>
          </div>
          <div class="footer__links-five">
            <h4>Legal</h4>
            <p>Terms</p>
            <p>Privacy</p>
            <p>Cookies</p>
            <p>Licenses</p>
            <p>Settings</p>
            <p>Contact</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer__bottom">
    <div class="footer__text">
      <p>© 2077 Untitled UI. All rights reserved.</p>
    </div>
    <div class="footer__social">
      <img src="./assets/svg/iconOne.svg" />
      <img src="./assets/svg/iconTwo.svg" />
      <img src="./assets/svg/iconThree.svg" />
      <img src="./assets/svg/iconFour.svg" />
      <img src="./assets/svg/iconFive.svg" />
    </div>
  </div>
</footer>
