@use "/src/assets/styles/base/breakpoints" as breakpoints;
@use "/src/assets/styles/base/colors" as colors;
@use "/src/assets/styles/base/utilities" as utilities;

.footer {
  &__top {
    width: 100%;
    height: 352px;
    background: colors.$gray800;
    overflow: hidden;
  }
  &__container-top {
    margin: 64px 80px 48px;
    height: 240px;
  }
  &__content {
    margin: 0 32px;
    height: 240px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  &__logo {
    width: 320px;
    height: 112px;
  }
  &__logo-text {
    font-family: "Inter-normal";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: colors.$gray200;
    margin-top: 32px;
  }
  &__links {
    padding: 0 0 0 64px;
    display: flex;
    gap: 32px;
    color: colors.$gray200;
    h4 {
      color: colors.$gray400;
      font-family: "Inter-semibold";
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 16px;
    }
    p {
      margin-bottom: 12px;
      font-family: "Inter-medium";
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
    }
    &-one {
      width: 140.8px;
    }
    &-two {
      width: 140.8px;
    }
    &-three {
      width: 140.8px;
    }
    &-four {
      width: 140.8px;
    }
    &-five {
      width: 140.8px;
    }
  }
  &__badge {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  &__complement {
    padding-right: 8px;
  }

  &__only-bagde {
    padding: 2px 8px;
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 16px;
  }

  &__bottom {
    width: 100%;
    @include utilities.bakanazo-flexbox-param(flex, center, space-between);
    box-shadow: 4px 0 10px 0 rgba(0, 0, 0, 0.05);
    padding: 0 112px;
    height: 120px;
    background: colors.$gray40;
  }
  &__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: colors.$gray400;
  }
  &__social {
    display: flex;
    gap: 27.66px;
  }
}
