<header class="header">
  <div class="header__container">
    <div class="header__left">
      <div class="header__logo">
        <img src="./assets/svg/bakanazo-dark.svg" />
      </div>
      <div class="header__options">
        <p>Inicio</p>
        <p>Productos</p>
        <p>Contactanos</p>
        <p>Envios</p>
      </div>
    </div>
    <div class="header__loggin" *ngIf="userLogged">
      <div class="header__loggin--photo">
        <img [src]=" userLogged.photoURL" [alt]='"image-"+userLogged.name' (click)="toLogout()">
      </div>
      <div class=" header__loggin--info">
        <strong>{{userLogged.displayName}}</strong>
        <p>{{userLogged.email}}</p>
      </div>
    </div>
    <div class="header__loggin" *ngIf="!userLogged">
      <button (click)="toLogin()">Ingresar</button>
    </div>
    <div class="header__iconMenu">
      <img src="./assets/svg/header/icon-menu.svg" />
    </div>
  </div>
</header>
