<header class="header">
  <div class="header__container">
    <div class="header__left">
      <div class="header__logo">
        <img src="./assets/svg/bakanazo-dark.svg" />
      </div>
      <div class="header__options">
        <p>Inicio</p>
        <p>Productos</p>
        <p>Contactanos</p>
        <p>Envios</p>
      </div>
    </div>
    <div class="header__button">
      <!-- <button class="header__button-primary">x</button> -->
      <button class="header__button-second">Ingresar</button>
    </div>
    <div class="header__iconMenu">
      <img src="./assets/svg/header/icon-menu.svg" />
    </div>
  </div>
</header>
