<section class="top">
  <div class="top__container">
    <div class="top__header">
      <h2>Mejor Valorados</h2>
      <p>Ver todos</p>
    </div>
    <div class="top__carousel">
      <mat-card>
        <div class="top__carousel--img">
          <img src="./assets/img/img-2.png" alt="">
        </div>
        <div class="top__carousel--text">
          <div class="top__carousel--text__price">
            <h3>280.00</h3>
          </div>
          <div class="top__carousel--text__description">
            <strong>Lorem ipsum </strong>
          </div>
        </div>
      </mat-card>
      <mat-card>
        <div class="top__carousel--img">
          <img src="./assets/img/img-3.png" alt="">
        </div>
        <div class="top__carousel--text">
          <div class="top__carousel--text__price">
            <h3>280.00</h3>
            <h4>409.90</h4>
          </div>
          <div class="top__carousel--text__description">
            <strong>Lorem ipsum </strong>
          </div>
        </div>
      </mat-card>
      <mat-card>
        <div class="top__carousel--img">
          <img src="./assets/img/img-4.png" alt="">
        </div>
        <div class="top__carousel--text">
          <div class="top__carousel--text__price">
            <h3>280.00</h3>
          </div>
          <div class="top__carousel--text__description">
            <strong>Lorem ipsum </strong>
          </div>
        </div>
      </mat-card>
      <mat-card>
        <div class="top__carousel--img">
          <img src="./assets/img/img-5.png" alt="">
        </div>
        <div class="top__carousel--text">
          <div class="top__carousel--text__price">
            <h3>280.00</h3>
            <h4>409.90</h4>
          </div>
          <div class="top__carousel--text__description">
            <strong>Lorem ipsum </strong>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
</section>
