<header class="dashboard">
  <div class="dashboard__container">
    <div class="dashboard__left">
      <div class="dashboard__logo">
        <img src="./assets/svg/logos/bakanazo-01.svg" />
      </div>
      <div class="dashboard__options">
        <p>Home</p>
        <p>Dashboard</p>
        <p>Projects</p>
        <p>Tasks</p>
        <p>Reporting</p>
        <p>Users</p>
      </div>
    </div>
    <div class="dashboard__avatar">
      <div class="dashboard__actions">
        <div class="dashboard__settings">HI</div>
        <div class="dashboard__bells">Hello</div>
      </div>
      <div class="dashboard__image">
        <img src="./assets/img/ImgDash.jpg" />
      </div>
      <div class="dashboard__text">
        <div class="dashboard__bagde">
          <div class="dashboard__title">
            <h1>Manuel Razuri</h1>
          </div>
          <div class="dashboard__only-bagde">Developer Trainee</div>
        </div>
        <p>jamoncitoperu@gmail.com</p>
      </div>
    </div>
  </div>
</header>
