@use "/src/assets/styles/base/breakpoints" as breakpoints;
@use "/src/assets/styles/base/colors" as colors;
@use "/src/assets/styles/base/utilities" as utilities;

.home {
  width: 100%;
  position: relative;
  background: #eeea9a; //desktop

  @include breakpoints.m-large {
    background: red; //ipad pro
  }

  @include breakpoints.large {
    background: orange; //ipad
  }

  @include breakpoints.medium {
    background: maroon; //tablets normales
  }

  @include breakpoints.small {
    background: yellow; //celulares
  }
  &__container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
  }
}

.example-spacer {
  flex: 1 1 auto;
}

table {
  width: 100%;
}

.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}
