<section class="sale">
  <div class="sale__container">
    <div class="sale__header">
      <h2>Ofertas Bakanazo</h2>
      <p>Ver todos</p>
    </div>
    <div class="sale__carousel">
      <mat-card>
        <div class="sale__carousel--img">
          <img src="./assets/img/img-6.png" alt="">
        </div>
        <div class="sale__carousel--text">
          <div class="sale__carousel--text__price">
            <h3>280.00</h3>
            <h4>409.90</h4>
          </div>
          <div class="sale__carousel--text__description">
            <strong>Lorem ipsum </strong>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, recusandae. Magni minima
              voluptatem laudantium. Maiores minima ratione perferendis assumenda repudiandae quia error delectus,
              provident, laboriosam repellat harum cumque atque id?</p>
          </div>
        </div>
      </mat-card>
      <mat-card>
        <div class="sale__carousel--img">
          <img src="./assets/img/img-7.png" alt="">
        </div>
        <div class="sale__carousel--text">
          <div class="sale__carousel--text__price">
            <h3>280.00</h3>
            <h4>409.90</h4>
          </div>
          <div class="sale__carousel--text__description">
            <strong>Lorem ipsum </strong>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, recusandae. Magni minima
              voluptatem laudantium. Maiores minima ratione perferendis assumenda repudiandae quia error delectus,
              provident, laboriosam repellat harum cumque atque id?</p>
          </div>
        </div>
      </mat-card>
      <mat-card>
        <div class="sale__carousel--img">
          <img src="./assets/img/img-8.png" alt="">
        </div>
        <div class="sale__carousel--text">
          <div class="sale__carousel--text__price">
            <h3>280.00</h3>
            <h4>409.90</h4>
          </div>
          <div class="sale__carousel--text__description">
            <strong>Lorem ipsum </strong>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, recusandae. Magni minima
              voluptatem laudantium. Maiores minima ratione perferendis assumenda repudiandae quia error delectus,
              provident, laboriosam repellat harum cumque atque id?</p>
          </div>
        </div>
      </mat-card>
      <mat-card>
        <div class="sale__carousel--img">
          <img src="./assets/img/img-1.png" alt="">
        </div>
        <div class="sale__carousel--text">
          <div class="sale__carousel--text__price">
            <h3>280.00</h3>
            <h4>409.90</h4>
          </div>
          <div class="sale__carousel--text__description">
            <strong>Lorem ipsum </strong>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, recusandae. Magni minima
              voluptatem laudantium. Maiores minima ratione perferendis assumenda repudiandae quia error delectus,
              provident, laboriosam repellat harum cumque atque id?</p>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
</section>
