<ion-content [fullscreen]="true">
  <div class="login">
    <div class="login__left">
      <div class="login__left-container">
        <p class="login__title">Welcome back</p>
        <p class="login__subtitle">Welcome back! Please enter your details.</p>
        <p class="login__email">Email</p>
        <input
          class="login__input"
          type="text"
          placeholder="Enter your email"
        />
        <p class="login__password">Password</p>
        <input class="login__input" type="password" placeholder="••••••••" />
        <div class="login__texts">
          <p class="login__reminder">Remember for 30 days</p>
          <p class="login__forgot">Forgot password</p>
        </div>
        <div class="login__buttons">
          <button class="login__button">Sign in</button>
          <button class="login__button-google">Sign in with Google</button>
        </div>
        <div class="login__texts-two">
          <p class="login__account">Don’t have an account?</p>
          <p class="login__sign-up">Sign up</p>
        </div>
      </div>
    </div>
    <div class="login__right">
      <div class="login__box">Soy una caja</div>
    </div>
  </div>
</ion-content>
