<ion-content [fullscreen]="true">
  <app-header></app-header>
  <section class="products">
    <div class="products__container">
      <div class="products__start">
        <div class="products__start-container">
          <div class="products__title">
            <div class="products__heading">
              <div>
                <h6>Productos</h6>
              </div>
              <h1>Ofertas del día</h1>
            </div>
            <p>Un listado de productos especiales, seleccionados para ti</p>
          </div>
          <div class="products__information" *ngIf="false">
            <div class="products__email">
              <div class="products__input">
                <p>Enter your email</p>
              </div>
              <p>We care about your data in our privacy policy.</p>
            </div>
            <button class="products__button">Get Started</button>
          </div>
        </div>
      </div>
      <div class="products__end">
        <div class="products__room">
          <div class="products__sidebar">
            <input class="products__search" placeholder="Buscar Producto" (input)="onChange($event.target)"
              (blur)="onBlur($event.target)" (keyup.enter)="onEnter($event, true)" />
            <!-- <div class="products__icon">x</div> -->
            <!-- <div class="products__text">
              <p>Buscar Producto</p>
            </div> -->

            <div class="products__table">
              <div class="products__category">
                <p>Categorias</p>
              </div>
              <ul class="products__options">
                <a class="products__options-one"> Ver Todos </a>
                <a class="products__options-one"> Tecnologia </a>
                <a class="products__options-one">Electrodomesticos</a>
                <!-- <a class="products__options-one"> Ropa </a> -->
                <!-- <a class="products__options-one"> Especias / Condimento </a> -->
                <!-- <a class="products__options-one"> Accesorios </a> -->
                <!-- <a class="products__options-one"> Calzados </a> -->
                <!-- <a class="products__options-one">Otros</a> -->
              </ul>
            </div>
          </div>
          <div class="products__cards">
            <div class="products__cards-example">
              <div class="products__card" *ngFor="let card of arrayTest">
                <div class="products__card--imgcontainer">
                  <img [src]="card.img" />
                </div>
                <div class="products__elements-one">
                  <div>
                    <h1>{{ card.name }}</h1>
                    <!-- <p>{{ card.description }}</p> -->
                  </div>
                  <div>
                    <h3>S/.{{card.price | number : '1.2-2'}}</h3>
                    <small>Ver mas</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="products__pagination">
          <button matRipple class="products__button-start">Previous</button>
          <div class="products__numbers">
            <div class="products__number-one">
              <p>1</p>
            </div>
            <div class="products__number-one">
              <p>2</p>
            </div>
            <div class="products__number-one">
              <p>3</p>
            </div>
            <div class="products__number-one">
              <p>...</p>
            </div>
            <div class="products__number-one">
              <p>8</p>
            </div>
            <div class="products__number-one">
              <p>9</p>
            </div>
            <div class="products__number-one">
              <p>10</p>
            </div>
          </div>
          <button matRipple class="products__button-finish">Next</button>
        </div>
      </div>
    </div>
  </section>
  <app-footer></app-footer>
</ion-content>
