<section class="banner">
  <mat-card class="banner__container">
    <mat-tab-group mat-align-tabs="center" [selectedIndex]="selected.value"
      (selectedIndexChange)="selected.setValue($event)">
      <mat-tab *ngFor="let tab of tabs; let index = index">
        <div>
          <img [src]="tab.imgDir" [alt]='"image-"+tab.name'>
        </div>
      </mat-tab>
    </mat-tab-group>

    <div class="arrows">
      <div (click)="before()">
        <mat-icon>keyboard_arrow_left</mat-icon>
      </div>
      <div (click)="after()">
        <mat-icon>keyboard_arrow_right</mat-icon>
      </div>
    </div>
  </mat-card>
</section>
