<!-- <section class="products">
  <div class="products__container">
    <div class="products__header">
      <h2>Productos</h2>
      <p>Ver todos</p>
    </div>
    <div class="products__carousel">
      <mat-card>
        <div class="products__carousel--img">
          <img src="./assets/img/img-1.png" alt="">
        </div>
        <div class="products__carousel--name">
          <p>Lorem ipsum</p>
        </div>
      </mat-card>
      <mat-card>
        <div class="products__carousel--img">
          <img src="./assets/img/img-2.png" alt="">
        </div>
        <div class="products__carousel--name">
          <p>Lorem ipsum</p>
        </div>
      </mat-card>
      <mat-card>
        <div class="products__carousel--img">
          <img src="./assets/img/img-3.png" alt="">
        </div>
        <div class="products__carousel--name">
          <p>Lorem ipsum</p>
        </div>
      </mat-card>
      <mat-card>
        <div class="products__carousel--img">
          <img src="./assets/img/img-4.png" alt="">
        </div>
        <div class="products__carousel--name">
          <p>Lorem ipsum</p>
        </div>
      </mat-card>
      <mat-card>
        <div class="products__carousel--img">
          <img src="./assets/img/img-5.png" alt="">
        </div>
        <div class="products__carousel--name">
          <p>Lorem ipsum</p>
        </div>
      </mat-card>
    </div>
  </div>
</section> -->
