<div class="example">
  <h1>Practicando ando</h1>

  <hr />
  <p>{{ texto }}</p>
  <hr />
  <p>{{ personaje | json }}</p>
  <hr />
  <p>Identificador: {{ personaje.id }}</p>
  <p>Nombre: {{ personaje.id }}</p>
  <p>Edad: {{ personaje.id }}</p>
  <p>Sexo: {{ personaje.id }}</p>
  <!-- <div>
    <tr *ngFor="let person of personaje">
      <p>
        <td>Identificador:{{ person.id }}</td>
      </p>
      <p>
        <td>Nombre:{{ person.name }}</td>
      </p>
      <p>
        <td>Edad:{{ person.age }}</td>
      </p>
      <p>
        <td>Sexo:{{ person.sex }}</td>
      </p>
    </tr>
  </div> -->
</div>
