@use "/src/assets/styles/base/breakpoints" as breakpoints;
@use "/src/assets/styles/base/colors" as colors;
@use "/src/assets/styles/base/utilities" as utilities;

.main {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: calc(100vh - 80px);
  @include utilities.bakanazo-flexbox-param(flex, auto, auto);

  &__first-column {
    width: 50%;
    height: 100%;
    // padding: 128px 40px 0 112px;
    padding: 80px 40px 0 112px;
    &--content {
      width: 100%;
      max-width: 544px;
    }
    &--head {
      width: 292px;
      height: 32px;
      background: colors.$gray300;
      padding: 4px;
      border-radius: 16px;
      @include utilities.bakanazo-flexbox-param(flex, center, auto);
      & div {
        width: 103px;
        height: 24px;
        background: colors.$white;
        border-radius: 16px;
        text-align: center;
        margin-right: 12px;
      }
      & small {
        font-family: "Inter", Arial;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        color: colors.$gray900;
      }
    }
    &--text {
      & > h1 {
        margin: 16px 0 0 0;
        font-family: "Inter", Arial;
        font-style: normal;
        font-weight: 600;
        font-size: 60px;
        line-height: 72px;
        color: colors.$gray900;
      }
      & > p {
        max-width: 430px;
        font-family: "Inter", Arial;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 30px;
        color: colors.$gray500;
      }
    }
    &--link-form {
      margin-top: 48px;
      @include utilities.bakanazo-flexbox-param(flex, auto, auto);
      gap: 16px;
      & > input {
        width: 100%;
        max-width: 360px;
        height: 48px;
        padding: 12px 14px;
        background: colors.$white;
        border: 1px solid colors.$gray300;
        box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
        border-radius: 8px;
        font-family: "Inter", Arial;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: colors.$gray500;
      }
      & > button {
        width: 100%;
        max-width: 128px;
        height: 48px;
        // margin-left: 16px;
        padding: 12px 20px;
        background: colors.$primary600;
        border: 1px solid #7f56d9;
        box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
        border-radius: 8px;
        font-family: "Inter", Arial;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: colors.$white;
      }
    }
    &--policy {
      margin-top: 6px;
      & > small {
        font-family: "Inter", Arial;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: colors.$gray500;
      }
      & span {
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }

  &__second-column {
    // position: relative;
    width: 50%;
    height: 100%;
    min-height: calc(100vh - 80px);
    background: colors.$gray100;
    & img {
      position: absolute;
      bottom: 0;
      right: -0.1%;
      width: 100%;
      max-width: 832px;
      // width: 130%;
      // height: 100%;
      // position: absolute;
      // top: 0;
    }
  }
}

.partners {
  width: 100%;
  height: 296px;
  @include utilities.bakanazo-flexbox-param(flex, center, auto);
  padding: 96px 112px;
  background: colors.$gray50;

  &__content {
    width: 100%;
    margin: 0 auto;
    & > p {
      font-family: "Inter", Arial;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      text-align: center;
      color: colors.$gray500;
    }
    &--images {
      margin-top: 32px;
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      gap: 40px;
      & > div {
        height: 48px;
        // background: colors.$primary600;
        & img {
          width: 100%;
        }
      }
    }
  }
}

.features {
  width: 100%;
  padding: 96px 112px;
  &__head {
    & > h6 {
      font-family: "Inter", Arial;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      color: colors.$primary700;
    }
    & > h2 {
      margin: 12px 0 0 0;
      font-family: "Inter", Arial;
      font-style: normal;
      font-weight: 600;
      font-size: 36px;
      line-height: 44px;
      letter-spacing: -0.02em;
      color: colors.$gray900;
    }
    & > p {
      margin-top: 20px;
      max-width: 620px;
      font-family: "Inter", Arial;
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 30px;
      color: colors.$gray500;
    }
  }

  &__content {
    width: 100%;
    margin-top: 64px;
    @include utilities.bakanazo-flexbox-param(flex, auto, auto);
    gap: 64px;
    & > div {
      width: 50%;
    }
    &--description {
      margin-top: 22px;
      max-width: 560px;
      display: flex;
      flex-direction: column;
      gap: 48px;
    }

    &--card {
      @include utilities.bakanazo-flexbox-param(flex, auto, auto);
      gap: 16px;

      & > span {
        min-width: 48px;
        height: 48px;
        background: colors.$primary100;
        border-radius: 50%;
        @include utilities.bakanazo-flexbox-param(flex, center, center);
      }
      & > div {
        & > h4 {
          margin: 0;
          font-family: "Inter", Arial;
          font-style: normal;
          font-weight: 500;
          font-size: 20px;
          line-height: 30px;
          color: colors.$gray900;
        }
        & p {
          margin-top: 8px;
          font-family: "Inter", Arial;
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          color: colors.$gray500;
        }
        & div {
          margin-top: 20px;
          @include utilities.bakanazo-flexbox-param(flex, center, auto);
          & h6 {
            margin: 0;
            font-family: "Inter", Arial;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            color: colors.$primary700;
            margin-right: 8px;
          }
        }
      }
    }

    &--image {
      width: 100%;
      height: 560px;
      // background: colors.$gray100;
      // border-radius: 16px;
      @include utilities.bakanazo-flexbox-param(flex, center, center);
      & img {
        width: 576px;
      }
    }
  }
}

.switch {
  width: 100%;
  padding: 96px 112px;
  &__head {
    & > h6 {
      font-family: "Inter", Arial;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      color: colors.$primary700;
    }
    & > h2 {
      margin: 12px 0 0 0;
      font-family: "Inter", Arial;
      font-style: normal;
      font-weight: 600;
      font-size: 36px;
      line-height: 44px;
      letter-spacing: -0.02em;
      color: colors.$gray900;
    }
    & > p {
      margin-top: 20px;
      max-width: 620px;
      font-family: "Inter", Arial;
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 30px;
      color: colors.$gray500;
    }
  }

  &__content {
    margin-top: 64px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;

    &--card {
      padding: 24px 24px;
      background: colors.$gray50;
      & > div {
        width: 48px;
        height: 48px;
        background: colors.$primary500;
        border-radius: 10px;
        @include utilities.bakanazo-flexbox-param(flex, center, center);
      }
      & > h5 {
        margin: 96px 0 0 0;
        font-family: "Inter", Arial;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
        color: colors.$gray900;
      }
      & > p {
        margin-top: 8px;
        font-family: "Inter", Arial;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: colors.$gray500;
      }
    }
  }
}

.pricing {
  width: 100%;
  padding: 96px 112px;
  @include utilities.bakanazo-flexbox-param(flex, auto, space-between);
  gap: 64px;
  &__head {
    max-width: 450px;
    & > h6 {
      margin: 0;
      font-family: "Inter", Arial;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      color: colors.$primary700;
    }
    & > h2 {
      margin: 12px 0 0 0;
      font-family: "Inter", Arial;
      font-style: normal;
      font-weight: 600;
      font-size: 36px;
      line-height: 44px;
      letter-spacing: -0.02em;
      color: colors.$gray900;
    }
    & > p {
      margin-top: 20px;
      max-width: 620px;
      font-family: "Inter", Arial;
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 30px;
      color: colors.$gray500;
    }
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
    &--card {
      @include utilities.bakanazo-flexbox-param(flex, center, auto);
      flex-direction: column;
      width: 100%;
      min-width: 336px;
      padding: 32px;
      border: 1px solid colors.$gray200;
      box-shadow: 0px 12px 16px -4px rgba(16, 24, 40, 0.08),
        0px 4px 6px -2px rgba(16, 24, 40, 0.03);
      border-radius: 16px;

      & > span {
        width: 40px;
        height: 40px;
        background: colors.$primary100;
        border-radius: 50%;
        @include utilities.bakanazo-flexbox-param(flex, center, center);
      }
      & > h6 {
        margin: 20px 0 0 0;
        font-family: "Inter", Arial;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 30px;
        color: colors.$primary700;
      }
      & > h2 {
        margin: 8px 0 0 0;
        font-family: "Inter", Arial;
        font-style: normal;
        font-weight: 600;
        font-size: 48px;
        line-height: 60px;
        letter-spacing: -0.02em;
        color: colors.$gray900;
      }
      & p {
        font-family: "Inter", Arial;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        color: colors.$gray500;
        font-size: 16px;
      }

      & > main {
        width: 100%;
        // max-width: 336px;
        margin-top: 32px;
        @include utilities.bakanazo-flexbox-param(flex, auto, auto);
        flex-direction: column;
        gap: 16px;
        & div {
          @include utilities.bakanazo-flexbox-param(flex, auto, auto);
          & span {
            width: 100%;
            height: 100%;
            max-width: 24px;
            max-height: 24px;
            background: colors.$primary100;
            border-radius: 50%;
            margin-right: 12px;
            @include utilities.bakanazo-flexbox-param(flex, center, center);
          }
        }
      }

      & > div {
        width: 100%;
        margin-top: 32px;
        & > button {
          width: 100%;
          height: 48px;
          padding: 12px 0;
          background: colors.$primary600;
          border: 1px solid colors.$primary600;
          box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
          border-radius: 8px;
          font-family: "Inter", Arial;
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 24px;
          text-align: center;
          color: colors.$white;
        }
      }
    }
  }
}
