<main class="home">
  <section class="main">

    <div class="main__first-column">
      <div class="main__first-column--content">
        <div class="main__first-column--head">
          <div>
            <small>We're hiring!</small>
          </div>
          <small>Join our remote team</small>
        </div>

        <div class="main__first-column--text">
          <h1>Smart business credit cards</h1>
          <p>Powerful, self-serve product and growth analytics to help you convert, engage, and retain more.</p>
        </div>

        <div class="main__first-column--email-form">
          <input type="text" placeholder="Enter your email">
          <button>Get started</button>
        </div>
        <div class="main__first-column--policy">
          <small>We care about your data in our <span>privacy policy.</span></small>
        </div>
      </div>
    </div>

    <div class="main__second-column">
      <div class="main__second-column--content"></div>
    </div>

  </section>


  <section class="partners">

    <div class="partners__content">
      <p>Join 4,000+ companies already growing</p>
      <div class="partners__content--images">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>

  </section>


  <section class="features">

    <div class="features__head">
      <h6>Features</h6>
      <h2>Stop leaving money on the table</h2>
      <p>Spend smarter, lower your bills, get cashback on everything you buy, and unlock credit to grow your business.
      </p>
    </div>

    <div class="features__content">
      <div class="features__content--description">

        <div class="features__content--card">
          <span></span>
          <div>
            <h4>Unlimited cards</h4>
            <p>Give your team the autonomy they need with access to as many cards as they need. Authorise purchases with
              a click. Simple.</p>
            <h6>Learn more</h6>
          </div>
        </div>

        <div class="features__content--card">
          <span></span>
          <div>
            <h4>Easy expense policies</h4>
            <p>Every card comes with configurable spending limits, purchase restrictions, and cancellations for each
              employee and team.</p>
            <h6>Learn more</h6>
          </div>
        </div>

        <div class="features__content--card">
          <span></span>
          <div>
            <h4>Advanced analytics</h4>
            <p>An all-in-one platform that helps you balance everything your team need to be happy and your finances in
              order.</p>
            <h6>Learn more</h6>
          </div>
        </div>

      </div>

      <div>
        <div class="features__content--image"></div>
      </div>
    </div>

  </section>


  <section class="switch">

    <div class="switch__head">
      <h6>Why switch?</h6>
      <h2>Get your finances right</h2>
      <p>We offer the best accounting and expense tracking for ambitious businesses.</p>
    </div>

    <div class="switch__content">
      <div class="switch__content--card">
        <div></div>
        <h5>Share team inboxes</h5>
        <p>Whether you have a team of 2 or 200, our shared team inboxes keep everyone on the same page and in the loop.
        </p>
      </div>

      <div class="switch__content--card">
        <div></div>
        <h5>Deliver instant answers</h5>
        <p>An all-in-one customer service platform that helps you balance everything your customers need to be happy.
        </p>
      </div>

      <div class="switch__content--card">
        <div></div>
        <h5>Manage your team</h5>
        <p>Measure what matters with Untitled’s easy-to-use reports. You can filter, export, and drilldown on the data.
        </p>
      </div>

      <div class="switch__content--card">
        <div></div>
        <h5>Connect with customers</h5>
        <p>Solve a problem or close a sale in real-time with chat. If no one is available, customers are seamlessly
          routed to email.
        </p>
      </div>
    </div>

  </section>


  <section class="pricing">

    <div class="pricing__head">
      <h6>Pricing</h6>
      <h2>Pricing plans that scale</h2>
      <p>Simple, transparent pricing that grows with you. Try any plan free for 30 days.</p>
    </div>

    <div class="pricing__content">
      <div class="pricing__content--card">
        <span></span>
        <h6>Basic plan</h6>
        <h2>$10/mth</h2>
        <p>Billed annually.</p>

        <main>
          <div>
            <span></span>
            <p>Access to all basic features</p>
          </div>
          <div>
            <span></span>
            <p>Basic reporting and analytics</p>
          </div>
          <div>
            <span></span>
            <p>Up to 10 individual users</p>
          </div>
          <div>
            <span></span>
            <p>20GB individual data each user</p>
          </div>
          <div>
            <span></span>
            <p>Basic chat and email support</p>
          </div>
        </main>

        <div>
          <button>Get started</button>
        </div>
      </div>

      <div class="pricing__content--card">
        <span></span>
        <h6>Business plan</h6>
        <h2>$20/mth</h2>
        <p>Billed annually.</p>

        <main>
          <div>
            <span></span>
            <p>200+ integrations</p>
          </div>
          <div>
            <span></span>
            <p>Advanced reporting</p>
          </div>
          <div>
            <span></span>
            <p>Up to 10 individual users</p>
          </div>
          <div>
            <span></span>
            <p>40GB individual data each user</p>
          </div>
          <div>
            <span></span>
            <p>Priority chat and email support</p>
          </div>
        </main>

        <div>
          <button>Get started</button>
        </div>
      </div>
    </div>

  </section>
</main>
